body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
}

header {
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
}

header > img {
    margin-right: 7px;
}

header > h3 {
    font-size: 22px;
    color: #61DAFB;
    font-weight: 700;
    margin-right: auto;
}

header > h4 {
    font-size: 16px;
    color: #DEEBF8;
    font-weight: 600;
}

main {
    background-color: #282D35;
    padding: 55px 27px;
}

main > h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin: 0;
}

ul {
    margin-top: 45px;
    max-width: 400px;
}

li {
    font-size: 16px;
    color: #FFFFFF;
    padding-block: 10px;
}

li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}